
p.signup-prompt {
  margin-top: 58px;
  margin-bottom: 16px;
}

.login-btn {
  background:red;
}

.login-btn:hover {
  background-color: #303030;
}

.login-btn:active {
  background-color: #303030;
}
p.signup-prompt{
  margin-top: 54px;
}

.signup-prompt a {
  color: white;
  font-weight: 600;
}

.signup-prompt a:hover {
  color:white;
  text-decoration: none;
}

.signup-google {
  text-align: center;
  padding-top: 20px;
}
.signup-google a {
  color:white;
  text-decoration-line: none;
  font-family: inherit;
  padding-top: 20px;
  padding-left: 3px;
}
.signup-google img {
  width: 30px;
  height: 20px;
}