
p.signup-prompt {
  margin-top: 58px;
  margin-bottom: 16px;
}

.login-btn {
  background:red;
}

.login-btn:hover {
  background-color: #303030;
}

.login-btn:active {
  background-color: #303030;
}
p.signup-prompt{
  margin-top: 54px;
}

.signup-prompt a {
  color: white;
  font-weight: 600;
}

.signup-prompt a:hover {
  color:white;
  text-decoration: none;
}